body {
    background-color: #ACBFFF;
}

.hero-unit .dibble-title {
    font-size: 90px;
}

.dibble-title a {
    color: #555;
}

.dibble-title a:hover {
    text-decoration: none;
}

.tag-line {
    margin-top: 15px;
    font-style: italic;
    padding-left: 25px;
}

.hero-adjustments {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    padding: 30px 0 30px 0;
}

.links {
    margin-top: 20px;
    text-align: right;
}

.link {
    font-size: 26px;
    padding: 0 10px 0 10px;
}

.tag-title {
    text-align: center;
}

pre {
    background-color: transparent;
    border: transparent;
}

.seed-code {
    padding-left: 8px;
}

.dibble-code {
    padding-left: 30px;
}

.result-set {
    padding-left: 35px;
}

.narrative {
    margin-top: 27px;
}

#back-top {
	position: fixed;
	bottom: 30px;
	margin-left: 25px;
}
#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(../img/up-arrow.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}